use_dev() {
    PATH_add "$HOME/.cargo/bin"
    PATH_add "$PWD/deps/nickel/bin"
    PATH_add "$PWD/deps/protoc/bin"
    export NICKEL_IMPORT_PATH="$PWD/.vorpal/packages:$PWD"
    $PWD/dev.sh
}

use dev
