use_dev() {
    PATH_add "$HOME/.cargo/bin"
    PATH_add "$PWD/deps/just"
    PATH_add "$PWD/deps/proto/bin"
    export NICKEL_IMPORT_PATH="$PWD/.vorpal/packages:$PWD"
    export OPENSSL_DIR="$PWD/deps/openssl"
}

use dev
