use_dev() {
    PATH_add "$HOME/.cargo/bin"
    PATH_add "$PWD/deps/proto-28.0-osx-aarch_64/bin"
    export NICKEL_IMPORT_PATH="$PWD/.vorpal/packages:$PWD"
    export OPENSSL_DIR="$PWD/deps/openssl-3.3.1-dist"
}

use dev
