[package]
name = "vorpal"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "vorpal-build"
path = "src/bin/build/main.rs"

[[bin]]
name = "vorpal-cli"
path = "src/bin/cli/main.rs"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
dirs = "5.0"
flate2 = "1.0"
prost = "0.12"
sha256 = "1.5"
tar = "0.4"
tokio = { version = "1.37", features = ["macros", "rt-multi-thread"] }
tonic = "0.11"
uuid = { version = "1.8", features = ["v7"] }
walkdir = "2.5"

[build-dependencies]
tonic-build = "0.11"
