[package]
name = "vorpal"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "vorpal"
path = "src/bin/main.rs"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
dirs = "5.0"
flate2 = "1.0"
hex = "0.4"
infer = "0.3"
prost = "0.12"
rand = "0.8"
rsa = { version = "0.9", features = ["sha2"] }
rusqlite = { version = "0.31", features = ["bundled"] }
sha256 = "1.5"
tar = "0.4"
tempfile = "3.10"
tera = { version = "1", default-features = false }
tokio = { version = "1.37", features = ["macros", "process", "rt-multi-thread"] }
tonic = "0.11"
uuid = { version = "1.8", features = ["v7"] }
walkdir = "2.5"

[build-dependencies]
tonic-build = "0.11"
