[package]
name = "vorpal-cli"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "vorpal"
path = "src/main.rs"

[dependencies]
anyhow = "1"
async-compression = { version = "0", features = ["all"] }
clap = { version = "4", features = ["derive"] }
console = "0"
infer = "0"
reqwest = { default-features = false, features = ["json", "rustls-tls"], version = "0" }
serde_json = "1"
sha256 = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0"
tokio-tar = "0"
tonic = "0"
tracing = "0"
tracing-subscriber = "0"
url = "2"
uuid = { version = "1", features = ["v7"] }
vorpal-notary = { path = "../notary" }
vorpal-schema = { path = "../schema" }
vorpal-store = { path = "../store" }
vorpal-worker = { path = "../worker" }
