[package]
name = "vorpal-worker"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "vorpal-worker"
path = "src/main.rs"

[dependencies]
anyhow = "1"
async-compression = { version = "0", features = ["all"] }
async-tempfile = "0"
bollard = { version = "0", features = ["buildkit"] }
clap = { version = "4", features = ["derive"] }
dirs = "5"
git2 = "0"
hex = "0"
infer = "0"
prost = "0"
reqwest = { version = "0", features = ["json"] }
rsa = { version = "0", features = ["sha2"] }
sha256 = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0"
tokio-tar = "0"
tonic = "0"
tracing = "0"
tracing-subscriber = "0"
url = "2"
uuid = { version = "1", features = ["v7"] }
vorpal-notary = { path = "../notary" }
vorpal-schema = { path = "../schema" }
vorpal-store = { path = "../store" }

[build-dependencies]
tonic-build = "0"
