name: vorpal

on:
  pull_request:
  push:
    branches:
      - "main"
    tags:
      - "*"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  vendor:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner:
          - macos-latest
          - macos-latest-large
          - ubuntu-latest
          - ubuntu-latest-arm64
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-target
          path: target

      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-vendor
          path: vendor

      - run: ./script/dev.sh # pre-bake
      - run: ./script/dev.sh make .cargo vendor
      - run: ./script/dev.sh make TARGET=release check

      - uses: actions/cache/save@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-target
          path: target

      - uses: actions/cache/save@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-vendor
          path: vendor

  code-quality:
    needs:
      - vendor
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-target
          path: target

      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-vendor
          path: vendor

      - run: ./script/dev.sh # pre-bake
      - run: ./script/dev.sh make .cargo vendor
      - run: ./script/dev.sh make format
      - run: ./script/dev.sh make TARGET=release lint

  build:
    needs:
      - code-quality
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner:
          - macos-latest
          - macos-latest-large
          - ubuntu-latest
          - ubuntu-latest-arm64
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-target
          path: target

      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-vendor
          path: vendor

      - run: ./script/dev.sh # pre-bake
      - run: ./script/dev.sh make .cargo vendor
      - run: ./script/dev.sh make TARGET=release build
      - run: ./script/dev.sh make TARGET=release test
      - run: ./script/dev.sh make TARGET=release dist

      - run: |
          echo "ARCH=$(uname -m | tr '[:upper:]' '[:lower:]' | sed 's/arm64/aarch64/')" >> $GITHUB_ENV
          echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v6
        with:
          name: vorpal-dist-${{ env.ARCH }}-${{ env.OS }}
          path: dist

  test:
    needs:
      - build
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner:
          - macos-latest
          - macos-latest-large
          - ubuntu-latest
          - ubuntu-latest-arm64
    steps:
      - uses: actions/checkout@v6

      - if: contains(matrix.runner, 'ubuntu')
        run: ./script/dev/debian.sh

      - run: |
          echo "ARCH=$(uname -m | tr '[:upper:]' '[:lower:]' | sed 's/arm64/aarch64/')" >> $GITHUB_ENV
          echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - uses: actions/download-artifact@v7
        with:
          name: vorpal-dist-${{ env.ARCH }}-${{ env.OS }}

      - run: |
          mkdir -pv ./dist
          tar -xzvf ./vorpal-${ARCH}-${OS}.tar.gz -C ./dist
          rm -rf ./vorpal-${ARCH}-${OS}.tar.gz

      - uses: ALT-F4-LLC/setup-vorpal-action@main
        with:
          registry-backend: s3
          registry-backend-s3-bucket: altf4llc-vorpal-registry
          use-local-build: true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - run: |
          VORPAL_ARTIFACT=$(vorpal build "vorpal")
          echo "VORPAL_ARTIFACT=$VORPAL_ARTIFACT" >> $GITHUB_ENV

      - if: contains(matrix.runner, 'ubuntu')
        run: |
          VORPAL_CONTAINER_IMAGE_ARTIFACT=$(vorpal build "vorpal-container-image")
          echo "VORPAL_CONTAINER_IMAGE_ARTIFACT=$VORPAL_CONTAINER_IMAGE_ARTIFACT" >> $GITHUB_ENV

      - run: |
          VORPAL_JOB_ARTIFACT=$(vorpal build "vorpal-job")
          echo "VORPAL_JOB_ARTIFACT=$VORPAL_JOB_ARTIFACT" >> $GITHUB_ENV

      - run: |
          VORPAL_PROCESS_ARTIFACT=$(vorpal build "vorpal-process")
          echo "VORPAL_PROCESS_ARTIFACT=$VORPAL_PROCESS_ARTIFACT" >> $GITHUB_ENV

      - run: |
          VORPAL_SHELL_ARTIFACT=$(vorpal build "vorpal-shell")
          echo "VORPAL_SHELL_ARTIFACT=$VORPAL_SHELL_ARTIFACT" >> $GITHUB_ENV

      - run: |
          VORPAL_USER_ARTIFACT=$(vorpal build "vorpal-user")
          echo "VORPAL_USER_ARTIFACT=$VORPAL_USER_ARTIFACT" >> $GITHUB_ENV

      - run: |
          ARTIFACT=$(vorpal build --config "Vorpal.go.toml" "vorpal")
          if [ "$ARTIFACT" != "$VORPAL_ARTIFACT" ]; then
            echo "Go SDK invalid match to Rust: $ARTIFACT != $VORPAL_ARTIFACT"
            exit 1
          fi

      - if: contains(matrix.runner, 'ubuntu')
        run: |
          ARTIFACT=$(vorpal build --config "Vorpal.go.toml" "vorpal-container-image")
          if [ "$ARTIFACT" != "$VORPAL_CONTAINER_IMAGE_ARTIFACT" ]; then
            echo "Go SDK invalid match to Rust: $ARTIFACT != $VORPAL_CONTAINER_IMAGE_ARTIFACT"
            exit 1
          fi

      - run: |
          ARTIFACT=$(vorpal build --config "Vorpal.go.toml" "vorpal-job")
          if [ "$ARTIFACT" != "$VORPAL_JOB_ARTIFACT" ]; then
            echo "Go SDK invalid match to Rust: $ARTIFACT != $VORPAL_JOB_ARTIFACT"
            exit 1
          fi

      - run: |
          ARTIFACT=$(vorpal build --config "Vorpal.go.toml" "vorpal-process")
          if [ "$ARTIFACT" != "$VORPAL_PROCESS_ARTIFACT" ]; then
            echo "Go SDK invalid match to Rust: $ARTIFACT != $VORPAL_PROCESS_ARTIFACT"
            exit 1
          fi

      - run: |
          ARTIFACT=$(vorpal build --config "Vorpal.go.toml" "vorpal-shell")
          if [ "$ARTIFACT" != "$VORPAL_SHELL_ARTIFACT" ]; then
            echo "Go SDK invalid match to Rust: $ARTIFACT != $VORPAL_SHELL_ARTIFACT"
            exit 1
          fi

      - run: |
          ARTIFACT=$(vorpal build --config "Vorpal.go.toml" "vorpal-user")
          if [ "$ARTIFACT" != "$VORPAL_USER_ARTIFACT" ]; then
            echo "Go SDK invalid match to Rust: $ARTIFACT != $VORPAL_USER_ARTIFACT"
            exit 1
          fi

      - uses: actions/upload-artifact@v6
        with:
          name: vorpal-lock-${{ env.ARCH }}-${{ env.OS }}
          path: Vorpal.lock

  container-image:
    # if: ${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
    needs:
      - test
    permissions:
      contents: write
      id-token: write
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-latest-arm64
    steps:
      - uses: actions/checkout@v6

      - run: ./script/dev/debian.sh

      - run: |
          echo "ARCH=$(uname -m | tr '[:upper:]' '[:lower:]' | sed 's/arm64/aarch64/')" >> $GITHUB_ENV
          echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - run: |
          if [ "$ARCH" = "aarch64" ]; then
            echo "PLATFORM=linux/arm64" >> $GITHUB_ENV
          else
            echo "PLATFORM=linux/amd64" >> $GITHUB_ENV
          fi

      - uses: actions/download-artifact@v7
        with:
          name: vorpal-dist-${{ env.ARCH }}-${{ env.OS }}

      - run: |
          mkdir -pv ./dist
          tar -xzvf ./vorpal-${ARCH}-${OS}.tar.gz -C ./dist
          rm -rf ./vorpal-${ARCH}-${OS}.tar.gz

      - uses: ALT-F4-LLC/setup-vorpal-action@main
        with:
          registry-backend: s3
          registry-backend-s3-bucket: altf4llc-vorpal-registry
          use-local-build: true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - run: |
          ARTIFACT_PATH=$(vorpal build --path "vorpal-container-image")
          echo "ARTIFACT_PATH=$ARTIFACT_PATH" >> $GITHUB_ENV

      - run: docker image load < ${ARTIFACT_PATH}/image.tar

      - uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}

      - run: |
          docker image tag \
            "vorpal-container-image:latest" \
            "docker.io/altf4llc/vorpal:${{ github.ref_name }}"

      - run: |
          docker image push \
            --platform $PLATFORM \
            "docker.io/altf4llc/vorpal:${{ github.ref_name }}"

  release:
    if: ${{ github.event_name == 'push' && contains(github.ref, 'refs/tags/') }}
    needs:
      - test
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          fail-on-cache-miss: true
          pattern: vorpal-dist-*

      - uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: |
            vorpal-dist-aarch64-darwin/vorpal-aarch64-darwin.tar.gz
            vorpal-dist-aarch64-linux/vorpal-aarch64-linux.tar.gz
            vorpal-dist-x86_64-darwin/vorpal-x86_64-darwin.tar.gz
            vorpal-dist-x86_64-linux/vorpal-x86_64-linux.tar.gz
          name: ${{ github.ref_name }}
          prerelease: true
          tag_name: ${{ github.ref }}

      - run: |
          mkdir -pv dist/aarch64-darwin
          mkdir -pv dist/aarch64-linux
          mkdir -pv dist/x86_64-darwin
          mkdir -pv dist/x86_64-linux
          tar -xzvf vorpal-dist-aarch64-darwin/vorpal-aarch64-darwin.tar.gz -C dist/aarch64-darwin
          tar -xzvf vorpal-dist-aarch64-linux/vorpal-aarch64-linux.tar.gz -C dist/aarch64-linux
          tar -xzvf vorpal-dist-x86_64-darwin/vorpal-x86_64-darwin.tar.gz -C dist/x86_64-darwin
          tar -xzvf vorpal-dist-x86_64-linux/vorpal-x86_64-linux.tar.gz -C dist/x86_64-linux
          mv dist/aarch64-darwin/vorpal dist/aarch64-darwin/vorpal-aarch64-darwin
          mv dist/aarch64-linux/vorpal dist/aarch64-linux/vorpal-aarch64-linux
          mv dist/x86_64-darwin/vorpal dist/x86_64-darwin/vorpal-x86_64-darwin
          mv dist/x86_64-linux/vorpal dist/x86_64-linux/vorpal-x86_64-linux

      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            dist/aarch64-darwin/vorpal-aarch64-darwin
            dist/aarch64-linux/vorpal-aarch64-linux
            dist/x86_64-darwin/vorpal-x86_64-darwin
            dist/x86_64-linux/vorpal-x86_64-linux
